@model TreeFolder.WebApp.Models.FolderViewModel

@{
    ViewBag.Title = "TreeView";
}

<div>
    @{
        if (Model != null)
        {
            <h2>Folder: @Model.FolderName</h2>

            if (Model.Children!=null)
            {
                foreach (var child in Model.Children)
                {
                    <ul>
                        <li>
                            <span>
                                <a href="@Url.Action("Index", "TreeView", new { path = child.NavURL })">@child.FolderName</a>
                            </span>
                        </li>
                    </ul>
                }
            }
        }
    }
</div>